
<div class='row mt-4'>
  {{#each blogdata}}
  <div>
    <div class='card text-center'>

      <div class='card-body'>
        <h5 class='card-title'>{{this.title}}</h5>
        <p class='card-text'>By <strong>{{this.user.username}}</strong> on {{date_formatter this.date_created}}</p>
        <a href='/blogposts/{{this.id}}' class='btn btn-sm btn-outline-light'>View Blog</a>
      </div> 
      
    </div>
  </div>
  {{/each}}
</div>